@font-face {
  font-family: 'JioType';
  src: url('/fonts/JioType-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JioType';
  src: url('/fonts/JioType-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JioType';
  src: url('/fonts/JioType-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JioType';
  src: url('/fonts/JioType-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@import "tailwindcss";

@theme {
  --font-sans: "JioType", ui-sans-serif, system-ui, sans-serif;
  --font-display: "JioType", sans-serif;
  --color-brand: #11b966;
  --color-dark-green: #002d16;
  --color-complement: #f9be53;
  --color-muted-text: #CBCBCB;
}

body {
  background-color: #141414;
  color: white;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #333;
}

::placeholder {
  color: rgba(255, 255, 255, 0.2) !important;
  opacity: 1;
  /* Firefox fix */
}

input::placeholder,
textarea::placeholder,
select:invalid {
  color: rgba(255, 255, 255, 0.2) !important;
}