@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Lato", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Lato", sans-serif;
  --color-brand: #11b966;
  --color-dark-green: #002d16;
  --color-complement: #f9be53;
  --color-muted-text: #CBCBCB;
}

body {
  background-color: #141414;
  color: white;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #333;
}
